p{
    text-align: center;
}
h1{
    text-align: center;
    color: white;
}


.titre_actu {
    color:white;
    padding: 1% 5% 1% 5%;
    background-color: #aaaaaa;
    border-radius: 1em;
    /*border-style: inset;*/
    margin:2% 2% 0% 2%;
    font-size: 3em;
}

.titre_second {
    color: #822;
    text-align: center;
    background-color: #aaaaaa;
    padding: 1% 5% 2% 5%;
    border-bottom:solid #888;
    border-radius: 1em 1em 70% 70%; 
    margin:0%;
}

.texte_actu {
    color: #224;
    padding-left: 5%;
    padding-right: 5%;
}

.container {
    display:flex;
    flex-direction: row;
    justify-content: center;
}

.colonne1 {
    flex-basis: 7   5%;
    margin-top: 1em;
   /* border: solid #888;*/
}
.colonne2 {
    flex-basis: 30%;
    border: solid #888;
    border-radius: 1em;
    margin-top: 2em;
}

.colonne1_content{
    display: flex;
}

.img_actu {
    margin-left: 2%;  
    display: block;
    margin-left: auto;
    margin-right: auto
}

.text_actu{
    display: flex;
    
}
@media screen and (max-width: 480px)
{
    .img_actu
    {
        display: none;
    }
    .colonne2{
        position: relative;
        width: auto;
        display: block;
        
    }
}