body {
    font-family: 'Libre Baskerville', serif;
}

.title-separator{
    height: 1px;
    width: 20%;
    margin: auto;
    background: linear-gradient(to right,rgba(79,79,79,0.3),rgba(79,79,79,1),rgba(79,79,79,0.3));
}

.hidden{
    visibility: hidden;
}

.visible{
    visibility: visible;
}
.bouton-up{
	width:60px;
	height:60px;
	background:#4d4d4d;
	border-radius:50%;
    border:none;
    padding: 0;
    position: fixed;
    right: 1%;
    bottom: 1%;
    cursor: pointer;
}