.custom-footer {
    background-color: #181e2c;
    padding-top: 4em;
    padding-left: 1.5em;
    padding-right: 1.5em;
    padding-bottom: 3em;
    
}


.container-footer {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    margin-left: 1em;
}



.custom-ul-reseaux-footer {
    padding: 0;
}

.custom-ul-reseaux-footer li {
    text-align: center;
}

.container-footer > h3 {
    text-align: center;
    color: white;
    font-size: 1.5em;
}


.custom-button-newsletter {
    padding: 0.3em;
    border-radius: 6px;
    background-color: transparent!important;
}

.custom-form-newsletter {
    display: flex;
    align-items: center;
    justify-content: center;
}

.custom-ul-plan {
    display: flex;

}

.separation-footer {
    border-left: solid 1px white;
    border-right: solid 1px white;
}

.separation-ligne {
    height: 1px;
    width: 60%;
    margin: auto;
    background: linear-gradient(to right,rgba(79,79,79,0.3),rgba(79,79,79,1),rgba(79,79,79,0.3));
}


.titre-site {
    font-family: 'Sigmar One', cursive;
    font-size: 4em;
    padding-top: 0.5em;
    margin: 0;
    color: white;
}

.container-titre {
    display: flex;
    align-items: center;
    justify-content: center;
}
.custom-titre {
    background-color: #181e2c;
    padding: 1em;  
}

@media (max-width: 47.999em) {

    .custom-ul-plan {
        flex-direction: column;
        align-items: center;
    
    }
    
    .titre-site {
        font-size: 1.5em;
        padding-bottom: 2em;
    }

    .separation-footer {
        border-top: solid 1px white;
        border-bottom: solid 1px white;
        border-left: none;
        border-right: none;
    }
}