
#imageContainer {
    position: relative;
    display: flex;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    flex-wrap: nowrap;
    overflow: hidden;
    width: 100%;
}

.blocImgText {
    position: relative;
    display: flex;
    flex-direction: column;
}

.image2 {
    width: 50%;
    height: 50%;
}

.leGrosConteneur {
    display: flex;
    height: 43rem;
}

.mainProduit {
    font-family: 'Libre Baskerville', serif;
    color: #7a7a7a;
    font-size: 1.2rem;
}

.upperCase {
    text-transform: uppercase;
}

.grandTitre {
    font-size: 3rem;
    text-align: center;
    background-color: #eef0f1;
    margin: 0;
    padding: 3rem;
}

.sectionProduit {
    text-align: center;
    background-color: #eef0f1;
    padding-left: 2rem;
    padding-right: 2rem;
    position: relative;
    padding: 0;
}

.description {
    background-color: #eef0f1;
}

@media (max-width: 500px) {
    .grandTitre {
        font-size: 2rem;
    }

    .leGrosConteneur {
        height: 19rem;
    }

    .description {
        font-size: 0.7rem;;
    }

    .sectionProduit {
        font-size: 0.9rem;
    }
}